
<header>
  <div class="container">
    <a routerLink="/" class="logo">ST ☺ Food</a>
    <nav>
      <ul>
        <li>
          <a *ngIf="!isLogin" routerLink="/login">Đăng nhập</a>
        </li>
        <li class="menu-container">
          <a>Profile</a>
          <div class="menu">
            <a routerLink="/profile">Thông tin cá nhân</a>
            <a routerLink="/orders">Đơn hàng</a>
            <a *ngIf="isLogin" (click)="logout()">Đăng xuất</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Giỏ hàng <span>{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
